.app {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.container {
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.employee{
  text-align: center;
  margin: 5rem;
}

.team{
  text-align: center;
  margin: 5rem;
}

li{
  color: black;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: lightblue;
  padding: 1rem;
  margin: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card.disabled {
  opacity: 0.7;
}

.card-content h3 {
  margin: 0;
}

.card-content p {
  margin: 5px 0;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
